.top-cart {
    background-image: url(img/topcart.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    &__title {
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
        color: white;
        margin-top: 137px;
    }
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;
    &__box {
        grid-column: span 8;
    }
    &__name_box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px    ;
    }
    &__item {
        padding-top: 25px;
        padding-bottom: 32px;
        border-top: 0.5px solid #CACDD8;
        display: flex;  
        justify-content: space-between;
    }
    &__left {
        display: flex;  
        gap: 31px;
    }

    &__info {
        width: 276px;
        display: grid;
        gap: 16px;
        &_title {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 24px;
        }
        &_subtitle {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            color: #888888;
        }
        &_price {
            font-family: 'Montserrat';
            font-weight: 500;
            font-style: Medium;
            font-size: 16px;
            line-height: 100%;
            color: #050505;
        }
        &_link {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            text-decoration: underline;
            text-decoration-style: solid;
            color: black;
            display:inline-block;
            margin-right: 30px;
        }
    }
    &__number {
        width: 71px;
        height: 51px;
        background-color: #F7F6F6;
        color: black;
        border: none;
        border-radius: 6px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
    }
    &__form {
        background-color: #F7F6F6;
        border-radius: 20px;
        height: 461px;
        width: 319px;
        grid-column: span 4;
        padding-top: 42px;
        padding-right: 30px;
        padding-bottom: 42px;
        padding-left: 30px;
        gap: 64px;
        display: grid;
        &_title {
            font-weight: 700;
            font-size: 24px;
            display: flex;
            justify-content: center;
        }
        &_inputs {
            display: grid;
            gap: 30px;
        }
        &_input {
            width: 319px;
            height: 20px;
            background-color: transparent;
            border: none;
            color: black;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            border-bottom: 0.5px solid #CACDD8;
            padding-bottom: 3px;
        }
        &_p {
            display: flex;
            gap: 10px;
            width: 319px;
            justify-content: center;
        }
        &_subtitle {
            font-weight: 400;
            font-size: 24px;
            &_big {
                font-weight: 500;
                font-size: 24px;
            }
        }
        &_button {
            width: 319px;
            height: 40px;
            border-radius: 20px;
            gap: 10px;
            background-color: transparent;      
            font-weight: 400;
            font-size: 16px;
            border: 1px solid #040404;
            margin-top: 18px;
            transition: 1s;
        }
        &_button:hover {
            transform: scale(1.1);
            background-color: grey;
        }
    }
    &__buttons {
        margin-top: 18px;
    }
    &__button {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        border: 1px solid #000000;
        border-radius: 50px;
        width: 200px;
        height: 37px;
        background-color: transparent;
        transition: 1s;
        &_link {
            color: #000000;
        }
    }
    &__button:hover {
        transform: scale(1.1);
        background-color: gray;
    }
}