* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Arial";
}

button,
input {
  font-family: "Montserrat", "Arial";
}

a {
  text-decoration: none;
  font-family: "Montserrat";
  transition: 2s;
}

a:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top-cart {
  height: 735px;
}

.header {
  height: 76px;
  border-bottom: 1px solid #FFFFFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__search {
  border-radius: 20px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  padding: 10px 32px;
  width: 224px;
  color: white;
  outline: none;
}

.header__search::-moz-placeholder {
  color: white;
}

.header__search::placeholder {
  color: white;
}

.catalog {
  margin-right: 32px;
}

.header__link {
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.main1 {
  background-image: url(./img/header_bgi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 735px;
}

.main2 {
  background-image: url(img/Rectangle\ 29.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 400px;
}

.menu-mob {
  display: none;
  height: 0px;
}

.top {
  padding-top: 63px;
}

.top__title {
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 16px;
  max-width: 792px;
}

.top__title_mobile {
  display: none;
}

.top__subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.top__link {
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: white;
}

.for {
  margin-top: 64px;
}

.for__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 32px;
}

.for__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  font-size: 34px;
  font-weight: 600;
  color: white;
  height: 415px;
  grid-column: span 4;
}

.for__item_big {
  grid-column: span 6;
}

.top__title {
  font-weight: 600;
  font-size: 64px;
}

.otdih {
  background-image: url(img/Rectangle\ 17.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rabota {
  background-image: url(img/Rectangle\ 18.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.kyhni {
  background-image: url(img/Rectangle\ 19.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.detskoe {
  background-image: url(img/Rectangle\ 20.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vanna {
  background-image: url(img/Rectangle\ 21.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}

.navigation {
  height: 137px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}

.navigation__form {
  display: flex;
  gap: 7px;
  padding-top: 70px;
}

.filters {
  display: flex;
  gap: 10px;
  padding-top: 61px;
}

.filters_link {
  font-family: "Montserrat";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  border: 1px solid #C4C4C4;
  padding: 10px 56px 10px 23px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  background-image: url("img/Polygon 1.png");
  background-position: calc(100% - 20px);
  background-size: 15px;
  background-repeat: no-repeat;
}

.filters_link_po {
  font-weight: 400;
}

.product-box {
  margin-top: 64px;
}

.product-box_catalog {
  margin-top: 0px;
}

.product__img {
  display: block;
  transition: 1s;
}

.product__name {
  margin-top: 10px;
  margin-bottom: 9px;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.product-box__title {
  font-size: 48px;
  font-weight: 600;
}

.product-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-top: 32px;
}

.product {
  height: 379px;
  width: 377px;
  margin: 0px;
  display: inline-block;
}

.product__description {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
  font-weight: 400;
}

.product__box-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  display: inline;
  margin-right: 32px;
}

.product__box-skidka {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.link-box {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-style: solid;
}

.link-box_div {
  margin-top: 31px;
  margin-bottom: 64px;
}

.footer {
  background-color: #F7F6F6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.footer__logo {
  margin-top: 32px;
  margin-bottom: 131px;
}

.footer__content {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 12px;
}

.footer-item__link {
  color: grey;
}

.footer-item__ul {
  list-style-type: none;
}

.footer__info {
  display: flex;
  margin-left: 212px;
  margin-right: 192px;
  gap: 129px;
}

.footer-item {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  color: #000000;
}

.footer-item__title {
  font-weight: 500;
  font-style: Regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer-item__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: grey;
  font-style: normal;
  text-decoration: none;
}

.social_media {
  transition: 1s;
}

.social_media:hover {
  transform: scale(1.1);
}

.footer-item__icons {
  display: flex;
  gap: 20px;
  margin-top: 14px;
}

.footer-form {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}

.footer-form__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer-form__input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #C4C4C4;
  width: 260px;
  height: 40px;
  font-weight: 400;
  padding-left: 17px;
  margin-top: 8px;
}

.footer-form__button {
  background: rgba(222, 215, 215, 0.4117647059);
  border: none;
  box-sizing: border-box;
  border-radius: 20px;
  width: 260px;
  height: 40px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  font-weight: 400;
  margin-top: 8px;
  transition: 1s;
}

.footer-form__button:hover {
  transform: scale(1.1);
  background-color: gray;
}

.filters {
  position: relative;
}

.filter-form {
  position: absolute;
  width: 445px;
  height: 468px;
  background: white;
  right: 227px;
  top: 110px;
  padding: 40px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.3215686275);
}

.filter-form__form {
  display: flex;
}

.left {
  display: grid;
  row-gap: 32px;
  margin-right: 65px;
  height: 392px;
}

.delivery {
  height: 177px;
  width: 136px;
}

.delivery__fieldset {
  height: 141px;
}

.delivery__input {
  display: none;
}

input[type=radio] + label {
  position: relative;
  padding-left: 31px;
  display: inline-block;
}

input[type=radio] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  border-radius: 60px;
  background: #fff;
  box-sizing: border-box;
}

input[type=radio]:checked + label:after {
  content: url(img/Vector\ 1.svg);
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: auto;
  padding-left: 4px;
}

input[type=radio]:checked + label:before {
  border: 1px solid black;
}

.price {
  width: 170px;
  height: 73px;
}

.price__subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}
.price__subtitle_left {
  margin-right: 14px;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 0px;
  border-radius: 0px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4.5px;
}

.price__fieldset {
  border: none;
  margin-top: 14px;
}

.price__option {
  position: relative;
}

.input__price_max {
  position: absolute;
  left: 0px;
  top: 33px;
}

.filter-form__title {
  font-weight: 500;
  font-size: 16px;
}

.delivery__fieldset {
  border: none;
  display: grid;
  gap: 14px;
  margin-top: 14px;
  margin-bottom: 32px;
}

.color {
  width: 189px;
  border: none;
}

.color__fieldset {
  border: none;
  margin-top: 14px;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.squart {
  display: none;
}

input[type=checkbox] + label {
  position: relative;
  padding-left: 31px;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  border: 1px solid #ccc;
  border-radius: 0px;
  background: #fff;
  box-sizing: border-box;
}

input[type=checkbox]:checked + label:after {
  content: url(img/Vector\ 1.svg);
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: auto;
  padding-left: 4px;
}

input[type=checkbox]:checked + label:before {
  border: 1px solid black;
}

#color_black:checked + label:after {
  content: url(img/17\ 19_53_376aac45419f03a8.88673889white_check.svg);
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: auto;
  padding-left: 4px;
}

#color_black:checked + label:before {
  border: 1px solid gray;
}

.label_invisible {
  color: transparent;
  width: 0px;
  height: 0px;
}

.type {
  margin-bottom: 78px;
}

.type__fieldset {
  display: grid;
  gap: 14px;
  margin-top: 14px;
  border: none;
}

.color__option {
  display: inline-block;
}

#color_white + label {
  padding-left: 13px;
}

#color_black + label {
  padding-left: 13px;
}

#color_gray + label {
  padding-left: 13px;
}

#color_red + label {
  padding-left: 13px;
}

#color_orange + label {
  padding-left: 13px;
}

#color_yellow + label {
  padding-left: 13px;
}

#color_lightgreen + label {
  padding-left: 13px;
}

#color_green + label {
  padding-left: 13px;
}

#color_blue1 + label {
  padding-left: 13px;
}

#color_blue2 + label {
  padding-left: 13px;
}

#color_bluepurple + label {
  padding-left: 13px;
}

#color_purple + label {
  padding-left: 13px;
}

#color_lightpurple + label {
  padding-left: 13px;
}

#color_pink + label {
  padding-left: 13px;
}

#color_white + label:before {
  background: #ffffff;
  border-color: #999;
}

#color_black + label:before {
  background: #000000;
  border-color: #000;
}

#color_gray + label:before {
  background: #808080;
  border-color: #666;
}

#color_red + label:before {
  background: #FF0000;
  border-color: #FF0000;
}

#color_orange + label:before {
  background: #FF7A41;
  border-color: #FF7A41;
}

#color_yellow + label:before {
  background: #F2CB01;
  border-color: #F2CB01;
}

#color_lightgreen + label:before {
  background: #00BF2A;
  border-color: #00BF2A;
}

#color_green + label:before {
  background: #1CCC97;
  border-color: #1CCC97;
}

#color_blue1 + label:before {
  background: #009FE3;
  border-color: #009FE3;
}

#color_blue2 + label:before {
  background: #000AF8;
  border-color: #000AF8;
}

#color_bluepurple + label:before {
  background: #6710D6;
  border-color: #6710D6;
}

#color_purple + label:before {
  background: #9D0DB5;
  border-color: #9D0DB5;
}

#color_lightpurple + label:before {
  background: #D89AFF;
  border-color: #D89AFF;
}

#color_pink + label:before {
  background: #FF65A6;
  border-color: #FF65A6;
}

#color_white:checked + label:before {
  background: #ffffff;
  border-color: black;
}

#color_black:checked + label:before {
  background: #000000;
  border-color: black;
}

#color_gray:checked + label:before {
  background: #808080;
  border-color: black;
}

#color_red:checked + label:before {
  background: #FF0000;
  border-color: black;
}

#color_orange:checked + label:before {
  background: #FF7A41;
  border-color: black;
}

#color_yellow:checked + label:before {
  background: #F2CB01;
  border-color: black;
}

#color_lightgreen:checked + label:before {
  background: #00BF2A;
  border-color: black;
}

#color_green:checked + label:before {
  background: #1CCC97;
  border-color: black;
}

#color_blue1:checked + label:before {
  background: #009FE3;
  border-color: black;
}

#color_blue2:checked + label:before {
  background: #000AF8;
  border-color: black;
}

#color_bluepurple:checked + label:before {
  background: #6710D6;
  border-color: black;
}

#color_purple:checked + label:before {
  background: #9D0DB5;
  border-color: black;
}

#color_lightpurple:checked + label:before {
  background: #D89AFF;
  border-color: black;
}

#color_pink:checked + label:before {
  background: #FF65A6;
  border-color: black;
}

.color__option input:checked + label::after {
  content: url(img/Vector\ 1.svg);
  position: absolute;
  font-size: 12px;
  padding-left: 4px;
}

.right__button {
  font-family: "Montserrat";
  width: 190px;
  height: 40px;
  opacity: 1;
  border-width: 1px;
  border-radius: 20px;
  padding: 10px 46px;
  background-color: transparent;
}

.form_label {
  font-weight: 400;
  font-size: 14px;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.input__price {
  border: 1px solid #000000;
  width: 190px;
  color: black;
  background-color: black;
}

.top-cart {
  background-image: url(img/topcart.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}
.top-cart__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: white;
  margin-top: 137px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__box {
  grid-column: span 8;
}
.cart__name_box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__item {
  padding-top: 25px;
  padding-bottom: 32px;
  border-top: 0.5px solid #CACDD8;
  display: flex;
  justify-content: space-between;
}
.cart__left {
  display: flex;
  gap: 31px;
}
.cart__info {
  width: 276px;
  display: grid;
  gap: 16px;
}
.cart__info_title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
}
.cart__info_subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #888888;
}
.cart__info_price {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  color: #050505;
}
.cart__info_link {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: black;
  display: inline-block;
  margin-right: 30px;
}
.cart__number {
  width: 71px;
  height: 51px;
  background-color: #F7F6F6;
  color: black;
  border: none;
  border-radius: 6px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.cart__form {
  background-color: #F7F6F6;
  border-radius: 20px;
  height: 461px;
  width: 319px;
  grid-column: span 4;
  padding-top: 42px;
  padding-right: 30px;
  padding-bottom: 42px;
  padding-left: 30px;
  gap: 64px;
  display: grid;
}
.cart__form_title {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.cart__form_inputs {
  display: grid;
  gap: 30px;
}
.cart__form_input {
  width: 319px;
  height: 20px;
  background-color: transparent;
  border: none;
  color: black;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  border-bottom: 0.5px solid #CACDD8;
  padding-bottom: 3px;
}
.cart__form_p {
  display: flex;
  gap: 10px;
  width: 319px;
  justify-content: center;
}
.cart__form_subtitle {
  font-weight: 400;
  font-size: 24px;
}
.cart__form_subtitle_big {
  font-weight: 500;
  font-size: 24px;
}
.cart__form_button {
  width: 319px;
  height: 40px;
  border-radius: 20px;
  gap: 10px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #040404;
  margin-top: 18px;
  transition: 1s;
}
.cart__form_button:hover {
  transform: scale(1.1);
  background-color: grey;
}
.cart__buttons {
  margin-top: 18px;
}
.cart__button {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #000000;
  border-radius: 50px;
  width: 200px;
  height: 37px;
  background-color: transparent;
  transition: 1s;
}
.cart__button_link {
  color: #000000;
}
.cart__button:hover {
  transform: scale(1.1);
  background-color: gray;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .cart__box {
    width: 786px;
  }
  .cart {
    display: flex;
    flex-wrap: wrap;
  }
  .main2 {
    height: 400px;
  }
  .navigation {
    height: 102px;
  }
  .for__item {
    height: 268px;
  }
  .product {
    max-width: 379px;
  }
  .product__description {
    max-width: 370px;
  }
  .product-content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .footer__info {
    margin-left: 0px;
    margin-right: 179px;
  }
  .footer-item__link {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    max-width: 343px;
  }
  .product__description {
    max-width: 343px;
    font-size: 14px;
  }
  .product__box-price {
    font-size: 18px;
  }
  .product__name {
    font-size: 18px;
  }
  .product__img {
    width: 343px;
  }
  .footer-item__link {
    font-size: 14px;
  }
  .footer__logo {
    display: none;
  }
  .footer__info {
    margin-left: 0px;
    margin-right: 100px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    width: 343px;
  }
  .top__title_invisible {
    display: none;
  }
  .top__title_mobile {
    display: inline;
  }
  .top-cart__title {
    font-size: 48px;
    text-align: center;
    margin-top: 82px;
  }
  .header {
    border: none;
    padding-top: 32px;
  }
  .header__logo {
    width: 99px;
  }
  .header__search {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .cart {
    display: flex;
    flex-wrap: wrap;
    width: 343px;
  }
  .cart__button {
    width: 166px;
    font-size: 12px;
  }
  .cart__form_input {
    width: 283px;
  }
  .cart__form {
    width: 283px;
  }
  .cart__form_p {
    width: 283px;
  }
  .cart__form {
    width: 283px;
  }
  .cart__form_button {
    width: 283px;
  }
  .cart__left_img {
    display: none;
  }
  .cart__info_title {
    font-size: 18px;
  }
  .cart__info_subtitle {
    font-size: 14px;
    width: 243px;
  }
  .cart__info_price {
    font-size: 14px;
  }
  .navigation {
    height: 202px;
    display: grid;
    justify-content: space-between;
    align-items: center;
  }
  .navigation__link {
    font-size: 14px;
  }
  .navigation__form {
    padding-top: 39px;
  }
  .filters {
    display: grid;
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding-top: 22px;
  }
  .filters_link {
    font-size: 14px;
  }
  .filter-form {
    height: 830px;
    width: 190px;
    right: 0px;
    left: 10px;
    top: 125px;
    padding: 40px 48px;
    padding-bottom: 80px;
  }
  .filter-form__form {
    display: grid;
    justify-content: center;
    row-gap: 32px;
  }
  .left {
    display: grid;
    row-gap: 32px;
    margin-right: 0px;
  }
  .product-content {
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 16px;
  }
  .type {
    margin-bottom: 36px;
  }
  .main1 {
    background-position: center;
    height: 735px;
  }
  .main2 {
    background-position: center;
    height: 400px;
  }
  .menu-mob {
    display: flex;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .top {
    text-align: center;
    max-width: 343px;
    padding-bottom: 359px;
    padding-top: 29px;
  }
  .top__title {
    font-size: 48px;
    text-align: center;
    max-width: 343px;
  }
  .top__subtitle {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
  }
  .top__link {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }
  .kyhni {
    height: 375px;
  }
  .detskoe {
    height: 375px;
  }
  .vanna {
    height: 375px;
  }
  .for {
    margin-top: 32px;
  }
  .for__title {
    font-size: 24px;
  }
  .for__item {
    font-size: 28px;
    width: 343px;
    background-size: 100%;
  }
  .for__item_big {
    height: 243px;
  }
  .for__content {
    display: grid;
    row-gap: 16px;
    -moz-column-gap: 0px;
         column-gap: 0px;
    grid-template-columns: none;
    justify-content: center;
  }
  .product-box {
    margin-top: 32px;
  }
  .product {
    max-width: 343px;
    height: 349px;
  }
  .product-box__title {
    font-size: 24px;
  }
  .product__description {
    max-width: 343px;
    font-size: 14px;
  }
  .product-content {
    display: grid;
    row-gap: 32px;
    justify-content: center;
  }
  .product__box-price {
    font-size: 18px;
  }
  .product__name {
    font-size: 18px;
  }
  .product__img {
    width: 343px;
  }
  .footer {
    height: 363px;
    display: grid;
  }
  .footer__info {
    gap: 100px;
    margin-right: 0px;
  }
  .footer-form {
    text-align: center;
  }
  .footer-item__link {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */